.card_title_left_card{
    width: 270px;
    height: 295px;
    border-radius: 40px 0px 0px 0px;
    background-color: #042C54;
    .card_title_left_card_title{
        padding: 10px;
    }
}  
.card_title_left_card_title_date h7{
    color: white;
}
.card_title_left_card_title_desc h5{
    color: white;
}
.card_title_left_card_title_down{
    padding-top: 15px;
}
.card_title_left_card_title_down h6{
    color: white;
}
  .card_title_left_card_title_photo img{
        width: 270px;
        height: 130px;
    }